@import "tailwindcss";


:root {
  --background: #131313;
  --foreground: #E2E2E2;
  --foreground-muted: #B4B5B5;
  --accent: #FF4F00;
  --accent-soft: #FFB59E;
}

@theme inline {
  --color-background: var(--background);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-jetbrains-mono);
  --color-foreground: var(--foreground);
  --color-foreground-muted: var(--foreground-muted);
  --color-accent: var(--accent);
  --color-accent-soft: var(--accent-soft);
}

@theme {
  --animate-scan: scan 70s linear infinite;
}

@keyframes scan {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(calc(100cqh));
  }
}

@utility grid-gradient {
  background-size: 40px 40px;
  background-image: 
    linear-gradient(to right, #FF4F000A 1px, transparent 1px),
    linear-gradient(to bottom, #FF4F000A 1px, transparent 1px)
}

@utility scan-gradient {
  background-image: linear-gradient(to bottom, #FF4F0000, #FF4F0040 50%, #FF4F0000)
}

body {
  background: var(--background);
}
